/* Fondo de la página y centrado del contenido */
ion-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  padding: 20px;
  background-color: #1e1e1e; /* Fondo oscuro para resaltar el formulario */
}

/* Estilos para el formulario de restablecimiento de contraseña */
.reset-password-form {
  width: 100%;
  max-width: 400px; /* Limita el ancho máximo del formulario */
  background-color: #333; /* Fondo oscuro para el formulario */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  ion-item {
    margin-bottom: 15px;
  }

  .button-container {
    margin-top: 20px;
  }

  .message {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
}

/* Estilos para el encabezado y la barra de herramientas */
ion-header {
  background-color: #ff0000; /* Fondo rojo */
  color: white;              /* Color del texto en blanco */
}

ion-toolbar {
  --background: #ff0000; /* Fondo rojo en la barra de herramientas */
  --color: white;        /* Color del texto en blanco */
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
  .reset-password-form {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .reset-password-form {
    padding: 10px;
    width: 90%; /* Ajusta el ancho para pantallas pequeñas */
  }
}
